#loginView {
  background: #ECECEC;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#loginView .ant-card {
  width: 100%;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

#loginView .ant-card .ant-card-head-title {
  font-size: 26px;
  padding-bottom: 0px;
}

#loginView .ant-card .ant-card-head{
  border: none;
}

#loginView .ant-input-group-addon{
  background: #009E54;
}

#loginView .ant-input-group-addon i{
  color: #fff !important;
}