.login-form .ant-input-group-addon{
  background: #009E54;
}

.login-form .ant-input-group-addon i{
  color: #fff !important;
}

.container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.boxLeft {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.boxRight {
  background: #009d55;
  width: 60%;
  height: 100%;
  background-image: url("../assets/pontos.png");
  background-position: center;

}
.login-logo {
  width: 280px;
  height: auto;
  margin-bottom: 20px;
}
