/* input,
textarea,
select,
.ant-select-selection__choice__content {
  text-transform: uppercase !important;
} */
.ant-layout {
  background: #eeeeee;
}
.ant-menu-image {
  background-image: url(../assets/pontos.png);
  background-color: #606062;
  padding-bottom: 130px;
  background-position: bottom right;
  background-size: 540px;
  background-repeat: no-repeat;
}
.ant-menu-dark {
  background-color: #606062;
  padding-bottom: 50px;
}
.ant-menu-dark .ant-menu-sub {
  background: #606062;
}
.logo {
  height: 129px;
  background-size: 206px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ant-layout-sider.ant-layout-sider-collapsed .logo {
  background-size: 70px;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger::hover {
  color: #1890ff;
}
.nav-text {
  font-size: 16px;
}
#menuLeft .svg-inline--fa {
  margin-right: 5px;
}
/* Custom ScrollBars */
#menuLeft::-webkit-scrollbar {
  width: 12px !important;
}
/* Track */
#menuLeft::-webkit-scrollbar-track {
  background: #606062;
}
/* Handle */
#menuLeft::-webkit-scrollbar-thumb {
  background: #838386;
}
/* Handle */
#menuLeft::-webkit-scrollbar-thumb:hover {
  background: #9f9faa;
}
.painel-header {
  background-image: url(../assets/pontos.png) !important;
  background-color: #009e54;
  color: white;
  background-position: -40px -175px !important;
  background-size: 88% !important;
  background-repeat: no-repeat !important;
  padding: 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.painel-header .ant-btn-background-ghost:hover {
  color: #fff;
}
.ant-layout-sider .logo,
.ant-layout-sider .nav-text,
.ant-layout-sider .ant-menu-item {
  transition: all 300ms ease;
}
.ant-layout-sider-collapsed .logo {
  background-image: url(../assets/logo-folha.png) !important;
  background-size: 48px !important;
  height: 50px;
}
.ant-layout-sider-collapsed .nav-text {
  opacity: 0;
}
.ant-layout-sider-collapsed .ant-menu-item {
  padding: 0 25px !important;
}

.ant-table td {
  white-space: nowrap;
}

/* so por enquanto a ideia eh ficar no component SimpleBreadCrumb */
.ant-breadcrumb {
  background: #eeeeee;
  height: 45px;
  margin: -24px !important;
  margin-bottom: 30px !important;
}

.white-close .ant-drawer-close-x {
  color: white;
}

.delete-menu {
  position: absolute;
  background: white;
  padding: 3px;
  color: #666;
  font-weight: bold;
  border: 1px solid #999;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  margin-top: -10px;
  margin-left: 10px;
  cursor: pointer;
}
.delete-menu:hover {
  background: #eee;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.custom-filter-dropdown button {
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  white-space: nowrap;
}
